@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700;800;900&family=Comfortaa:wght@700&display=swap");
.sidebar {
  background-color: #fff;
  width: 15.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  transition: all 350ms;
}
.sidebar .open {
  white-space: nowrap;
  opacity: 1;
  transition: all 350ms;
}

.top-sidebar {
  display: flex;
  padding: 0.5rem 1rem;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.logo-container {
  display: flex;
  gap: 0.5rem;
}
.logo-container .logo {
  box-sizing: border-box;
  width: 3rem;
  height: 3rem;
  padding: 0.25rem;
  border-radius: 50%;
  box-shadow: 0 0 0.5rem black;
}
.logo-container .logo img {
  width: 100%;
}
.logo-container .logo-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.logo-container .logo-title h1 {
  font-size: 1.25rem;
}
.logo-container .logo-title h1:first-child {
  color: #243c74;
  font-weight: 800;
  font-family: "Be Vietnam Pro", sans-serif;
}
.logo-container .logo-title h1:last-child {
  color: #7c8cac;
  font-weight: 700;
  font-family: "Comfortaa", sans-serif;
}

#menu-btn {
  background: none;
  border: none;
  padding: 0;
  height: 1.5rem;
  transition: all 350ms;
  cursor: pointer;
}
#menu-btn:hover {
  background-color: #f2f4f7;
}
#menu-btn i {
  color: #243c74;
  font-size: 1.5rem;
}

ul.item-container {
  padding: 0 1rem;
  flex: 1;
}
ul.item-container li {
  list-style-type: none;
}

a.nav-item {
  padding: 0.75rem;
  display: flex;
  gap: 0.75rem;
  align-items: center;
  text-decoration: none;
  transition: all 350ms;
}
a.nav-item p {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  color: #808080;
}
a.nav-item i {
  color: #808080;
  font-size: 1.5rem;
  transition: color 350ms;
}
a.nav-item:hover, a.nav-item.active {
  box-shadow: -0.175rem 0 0 0 #243c74;
  background-color: #f2f4f7;
}
a.nav-item:hover p, a.nav-item.active p {
  color: #243c74;
}
a.nav-item:hover i, a.nav-item.active i {
  color: #243c74;
}

.user-container {
  padding: 1.5rem 1rem;
}
.user-container .user {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.user-container .user img {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
}
.user-container .logout-btn {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 1rem;
  color: white;
  background-color: #243c74;
  border: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
  margin: 0.5rem 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.user-container .logout-btn i {
  font-size: 1.5rem;
}

.sidebar.collapse {
  width: 5.25rem;
}
.sidebar.collapse .logo-container {
  display: none;
}
.sidebar.collapse .open {
  display: none;
}
.sidebar.collapse a.nav-item {
  justify-content: center;
}

.order {
  width: 23.188rem;
  padding: 1rem;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  height: 100vh;
  opacity: 1;
  overflow: hidden;
  transition: all 3s;
}
.order.toggle {
  width: 0;
  padding: 0;
}

.top-order {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-order .dat-mon {
  color: #2b313c;
  font-weight: 600;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 1.5rem;
}

.table-header {
  display: flex;
  justify-content: space-between;
  padding: 0.625rem;
  margin-top: 1.438rem;
  border-style: solid;
  border-color: #7c8cac;
  border-width: 0px 0px 1px 0px;
}
.table-header div {
  color: #5d6981;
  font-weight: 500;
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 1rem;
}

.order-content {
  display: flex;
  flex-direction: column;
  align-self: center;
  flex-grow: 1;
  overflow: auto;
  margin-top: 0.5rem;
}
.order-content::-webkit-scrollbar {
  width: 0.5rem;
}
.order-content::-webkit-scrollbar-thumb {
  background-color: #e9ecf1;
  border-radius: 0.3125rem;
}
.order-content:first-child {
  margin-top: 2rem;
}
.order-content .item {
  display: flex;
  flex-direction: column;
  padding: 0.688rem 0.563rem;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
  border-radius: 0.5rem;
  border-bottom: 1.375rem;
  width: 20.188rem;
  margin: 0.6rem;
}
.order-content .item input {
  text-align: center;
  border: none;
  outline: none;
  background-color: #e9ecf1;
  border-radius: 0.625rem;
  font-size: 0.875rem;
  color: #5d6981;
  font-weight: 300;
  font-family: "Be Vietnam Pro", sans-serif;
  font-style: 0.875rem;
  color: #000;
}
.order-content .item input *:focus {
  outline: none;
  border: none;
}
.order-content .item .row-1 {
  display: flex;
  align-items: center;
}
.order-content .item .row-1 img {
  width: 3rem;
  margin-right: 0.5rem;
  border-radius: 0.625rem;
}
.order-content .item .row-1 .name-price {
  font-size: 1rem;
  flex-grow: 1;
}
.order-content .item .row-1 .name-price .name {
  color: #000;
  font-weight: 500;
  font-family: "Be Vietnam Pro", sans-serif;
}
.order-content .item .row-1 .name-price .price {
  color: #243c74;
  font-weight: 300;
  font-family: "Be Vietnam Pro", sans-serif;
}
.order-content .item .row-1 .qty {
  width: 2.564rem !important;
}
.order-content .item .row-1 .qty input {
  width: 100%;
}
.order-content .item .row-2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.25rem;
}
.order-content .item .row-2 .input-text {
  width: 16.188rem;
}
.order-content .item .row-2 .input-text input {
  padding: 0rem 1.5rem;
  width: 100%;
  height: 2rem;
}
.order-content .item .row-2 i {
  font-size: 1.5rem;
  color: #808080;
  cursor: pointer;
}

.tong-container {
  display: flex;
  justify-content: space-between;
  border-style: solid;
  border-color: #243c74;
  border-width: 1px 0px 0px 0px;
  padding: 1rem 0 0 0;
  width: 338px;
}
.tong-container .tong-text {
  color: #000;
  font-weight: 400;
  font-family: "Be Vietnam Pro", sans-serif;
}
.tong-container .tong-value {
  color: #243c74;
  font-weight: 400;
  font-family: "Be Vietnam Pro", sans-serif;
}

.thanhtoan-container {
  display: flex;
  flex-direction: column;
  margin-top: 1.375rem;
}
.thanhtoan-container .thanhtoan {
  color: #000;
  font-weight: 400;
  font-family: "Be Vietnam Pro", sans-serif;
  margin-bottom: 0.5rem;
}
.thanhtoan-container .options {
  display: flex;
  justify-content: space-around;
}
.thanhtoan-container .options .option {
  background-color: #e9ecf1;
  border: none;
  border-radius: 0.625rem;
  color: #1b2d57;
  font-weight: 400;
  font-family: "Be Vietnam Pro", sans-serif;
}
.thanhtoan-container .options .option input[type=radio] {
  opacity: 0;
  position: fixed;
  width: 0;
  border: none;
  width: 5.813rem;
}
.thanhtoan-container .options .option input[type=radio]:hover {
  background-color: #90ee90;
}
.thanhtoan-container .options .option input[type=radio]:checked + label {
  background-color: #00a67e;
  color: #fff;
  border: none;
}
.thanhtoan-container .options .option label {
  cursor: pointer;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 0.625rem;
}
.thanhtoan-container .options .option.choosen {
  background: #00a67e;
  color: #fff;
  font-weight: 400;
  font-family: "Be Vietnam Pro", sans-serif;
}

.order-btn {
  cursor: pointer;
  height: 3.938rem;
  margin-top: 1.375rem;
  background-color: #ff9a00;
  border: none;
  border-radius: 0.625rem;
  padding: 1.188rem 0;
  font-size: 1.25rem;
  color: #fff;
  font-weight: 600;
  font-family: "Be Vietnam Pro", sans-serif;
}
.order-btn:hover:not(:disabled), .order-btn:focus:not(:disabled) {
  transform: scale(1.05);
}
.order-btn:active:not(:disabled) {
  transform: scale(0.95);
}
.order-btn:disabled {
  background-color: #ffd580;
  cursor: not-allowed;
}

.order-card {
  position: relative;
}

.arrow-container {
  position: absolute;
  top: 2rem;
  right: 1rem;
  z-index: 999;
  transform: translateY(-50%);
}
.arrow-container .arrow {
  font-size: 1.5rem;
  transition: transform 0.5s ease;
}
.arrow-container .arrow.reverse {
  transform: rotate(180deg);
}

* {
  box-sizing: border-box;
}

#app {
  height: 100vh;
  display: flex;
}

/*# sourceMappingURL=style.css.map */
