{{> client_sidebar }}
<div class="bill-content">
    <div class="tt">
        <div class="title">Hoá đơn</div>
        <div class="subtitle">Tổng các hoá đơn của khách</div>
    </div>
    <div class="row-filter">

    </div>
</div>
