{{> cashier_sidebar }}
<div class="main-content">
     <div class="main-header">
        Hóa đơn
    </div>
    
    <div class="sub-header">
        Tổng hợp các hóa đơn của khách hàng
    </div>
    {{> filter }}
    {{> cashier_bill_table }}
</div> 


