{{> cashier_sidebar }}
<div class="main-content">
    <div class="main-header">
        Báo cáo doanh thu
    </div>
    
    <div class="sub-header">
        Tổng hợp và tạo báo cáo doanh thu theo ngày, tháng
    </div>
    {{> filter }}
    {{> cashier_report_table }}
</div> 


