{{!-- {{> cashier_sidebar }}
<div class="main-content">
<div>
        <div>
                <div class="main-header">
                    Báo cáo doanh thu
                </div>
                
                <div class="sub-header">
                    Tổng hợp và tạo báo cáo doanh thu theo ngày, tháng
                </div>   
        </div>
        <div class="ic-plus" style="float:right" >
            <i class='bx bxs-plus-square'></i>
        </div>
</div>
    
    {{> filter }}
    {{> cashier_report_table }}
</div> 

 --}}

{{>cashier_new_revenue}}