{{> client_sidebar }}
<div class="main-content">
    <div class="test">
        {{#each arr}}
        <li>{{this}}</li>
        {{/each}}
    </div>
      <div class="test">
        
    </div>
      <div class="test">
        
    </div>
      <div class="test">
        
    </div>
      <div class="test">
        
    </div>
      <div class="test">
        
    </div>
</div>
