{{> client_sidebar }}
<div class="main-content">
  <header class="top-main">
    <p class="curr-date">1/1/2024</p>
    <div class="search-bar">
      <i class='bx bx-search-alt'></i>
      <form role="search">
        <input type="text" name="" id="" placeholder="Tìm kiếm sản phẩm">
      </form>
    </div>
  </header>
  <section class="categories">
    <button class="filter-btn active">Tất cả</button>
    <button class="filter-btn">Đồ uống</button>
    <button class="filter-btn">Gà</button>
    <button class="filter-btn">Pizza</button>
    <button class="filter-btn">Mì</button>
  </section>
  <section class="order-space">
    <h2>Chọn món</h2>
    <section class="card-container">
      <div class="card-item">
        <a href="" class="item-link">
          <div class="img-container">
            <img src="img/products/Fried-rice.jpg" alt="rice">
          </div>
        </a>

        <div class="content">
          <a href="" class="item-link">
            <h3>Cơm chiên dương châu</h3>
          </a>
          <p>25.000Đ</p>
          <div class="bottom-container">
            
            <div class="subcontent">
              <p>Số lượng còn: 10</p>
              <div class="star-rating">
                <i class='bx bxs-star'></i>
                <span>5.0</span>
              </div>
            </div>
            <button class="add-btn">
              <i class='bx bx-plus'></i>
            </button>
          </div>
        </div>
      </div>

      <div class="card-item">
        <a href="" class="item-link">
          <div class="img-container">
            <img src="img/products/noodle.jpeg" alt="rice">
          </div>
        </a>

        <div class="content">
          <a href="" class="item-link">
            <h3>Cơm chiên dương châu</h3>
          </a>
          <p>25.000Đ</p>
          <div class="bottom-container">
            
            <div class="subcontent">
              <p>Số lượng còn: 10</p>
              <div class="star-rating">
                <i class='bx bxs-star'></i>
                <span>5.0</span>
              </div>
            </div>
            <button class="add-btn">
              <i class='bx bx-plus'></i>
            </button>
          </div>
        </div>
      </div>

       <div class="card-item">
        <a href="" class="item-link">
          <div class="img-container">
            <img src="img/products/noodle.jpeg" alt="rice">
          </div>
        </a>

        <div class="content">
          <a href="" class="item-link">
            <h3>Cơm chiên dương châu</h3>
          </a>
          <p>25.000Đ</p>
          <div class="bottom-container">
            
            <div class="subcontent">
              <p>Số lượng còn: 10</p>
              <div class="star-rating">
                <i class='bx bxs-star'></i>
                <span>5.0</span>
              </div>
            </div>
            <button class="add-btn">
              <i class='bx bx-plus'></i>
            </button>
          </div>
        </div>
      </div>
       <div class="card-item">
        <a href="" class="item-link">
          <div class="img-container">
            <img src="img/products/noodle.jpeg" alt="rice">
          </div>
        </a>

        <div class="content">
          <a href="" class="item-link">
            <h3>Cơm chiên dương châu</h3>
          </a>
          <p>25.000Đ</p>
          <div class="bottom-container">
            
            <div class="subcontent">
              <p>Số lượng còn: 10</p>
              <div class="star-rating">
                <i class='bx bxs-star'></i>
                <span>5.0</span>
              </div>
            </div>
            <button class="add-btn">
              <i class='bx bx-plus'></i>
            </button>
          </div>
        </div>
      </div>
       <div class="card-item">
        <a href="" class="item-link">
          <div class="img-container">
            <img src="img/products/noodle.jpeg" alt="rice">
          </div>
        </a>

        <div class="content">
          <a href="" class="item-link">
            <h3>Cơm chiên dương châu</h3>
          </a>
          <p>25.000Đ</p>
          <div class="bottom-container">
            
            <div class="subcontent">
              <p>Số lượng còn: 10</p>
              <div class="star-rating">
                <i class='bx bxs-star'></i>
                <span>5.0</span>
              </div>
            </div>
            <button class="add-btn">
              <i class='bx bx-plus'></i>
            </button>
          </div>
        </div>
      </div>
       <div class="card-item">
        <a href="" class="item-link">
          <div class="img-container">
            <img src="img/products/noodle.jpeg" alt="rice">
          </div>
        </a>

        <div class="content">
          <a href="" class="item-link">
            <h3>Cơm chiên dương châu</h3>
          </a>
          <p>25.000Đ</p>
          <div class="bottom-container">
            
            <div class="subcontent">
              <p>Số lượng còn: 10</p>
              <div class="star-rating">
                <i class='bx bxs-star'></i>
                <span>5.0</span>
              </div>
            </div>
            <button class="add-btn">
              <i class='bx bx-plus'></i>
            </button>
          </div>
        </div>
      </div>
    </section>
  </section>
</div>