<div class="container">
      <div class="forms-container">
        <div class="left">
            <h1  class="school">hcmus</h1>
            <h1 class="cteen">canteen</h1>
            <img src="img/Login_img.svg" alt="Login_img">
        </div>
        <div class="right">
          <form action="#" class="login-form">
            <div class="">
                <p>Chưa có tài khoản?</p>
                <a href="#"><p>Đăng kí ngay</p></a>
            </div>
            <h2 class="title">Đăng nhập</h2>
            <div class="input-field">
              <i class='bx bx-user'></i>
              <input type="text" placeholder="Tên đăng nhập" />
            </div>
            <div class="input-field">
              <i class='bx bx-cog' ></i>
              <input type="password" placeholder="Mật khẩu" />
              <i class='bx bx-show-alt' ></i>
              <i class='bx bx-hide' ></i>
            </div>
            <div class="">
                <input type="checkbox" checkec="checked">
                <span class="checkmark"></span>
                Ghi nhớ tôi
            </div>
            <input type="submit" value="Đăng nhập" class="btn solid" />
            
            <div class="social-media">
             <a href="#">
               <img src="img/google.svg" alt="logo_Google" class="img_gg">
                <p>Đăng nhập với Google</p>
             </a>
             <a href="#">
               <img src="img/facebook.svg" alt="logo_Facebook" class="img_fb">
                 <p>Đăng nhập với Facebook</p>

             </a>
            </div>
          </form>
        </div>
      </div>
