<div class="signup-container">
  <div class="left">
    <div class="name-logo">
      <h1 class="school">hcmus</h1>
      <h1 class="cteen">canteen</h1>
    </div>
    <img src="img/Signup_img.svg" alt="Login_img">
  </div>

  <div class="right">
    <div class="login-account">
      <p>Đã có tài khoản?
        <a href="#">
          Đăng nhập ngay
        </a>
      </p>
    </div>
    <form action="#" class="login-form">

      <h2 class="title">Đăng ký</h2>
      <div class="input-field">
        <input type="text" placeholder="Họ và tên" />
      </div>
      <div class="input-field">
        <input type="text" placeholder="Tên đăng nhập" />
      </div>
       <div class="input-field">
        <input type="email" placeholder="Email" />
      </div>
      <div class="input-field">
        <input type="password" placeholder="Mật khẩu" />
        <i class='show bx bx-show-alt'></i>
        {{!-- <i class='hide bx bx-hide'></i> --}}
      </div>
      <div class="input-field">
        <input type="password" placeholder="Nhập lại mật khẩu" />
        <i class='show bx bx-show-alt'></i>
        {{!-- <i class='hide bx bx-hide'></i> --}}
      </div>
        <div class="birhday">    
            <div>Ngày sinh: <input type="date">
            </div>
        </div>
        <div class="gender-checkbox">
            <div>Giới Tính:</div>
            <div>
                <input type="checkbox" id="male" name="gender" value="male">
                <label for="male">Nam</label>
                </div>
                <div>
                <input type="checkbox" id="female" name="gender" value="female">
                <label for="female">Nữ</label>
                </div>
                </div>
        <div class="input-field">
            <input type="tel" id="phone" name="phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"placeholder="Số điện thoại" />
        </div>
      <div class="input-field button">
      <input type="submit" value="Đăng ký" />
      </div>
    </form>
  </div>
</div>