<form id="form">
    <input type="text" name="msg" id="msg">
    <button type="submit">send</button>
</form>
<input type="hidden" value="{{role}}" id="role">
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
    integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

<script src="/socket.io/socket.io.js"></script>
<script>
    $(() => {
        const socket = io();
        socket.emit('identify', { role: $('#role').val() });

        $('#form').submit(() => {
            socket.emit('sendOrder', $('#msg').val());
            $('#msg').val('');
            return false;
        });
    });
</script>