<section class="admin_import_table">
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Mã nhập kho</th>
                <th>Ngày lập</th>
                <th>Người lập</th>
                <th>Xem</th>
                <th>Sửa</th>
                <th>Xóa</th>
            </tr>
        </thead>

        <tbody id="importTable">
        
        </tbody>
    </table>
</section>
<script src="/js/import_table.js"></script>