<section class="bill-order-table">
    <table class="newest-order-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Mã hóa đơn</th>
                <th>Phương thức</th>
                <th>Tình trạng</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{#each bills}}
            <tr>
                <td>{{@index}}</td>
                <td>{{this.MaHD}}</td>
                <td>{{this.PhuongThucTT}}</td>
                <td>{{this.TinhTrang}}</td>
                <td><i class="bx bx-file-find btn-detail"></i></td>
            </tr>
            {{/each}}
        </tbody>
    </table>
    

</section>
<script src="/js/table.js"></script>
<script src="/js/cashier_bill.js"></script>