<section class="cashier_report_table">
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Mã doanh thu</th>
                <th>Ngày lập</th>
                <th>Nhân viên</th>
                <th>Xem</th>
                <th>Xóa</th>
            </tr>
        </thead>

        <tbody id="reportTable">
           
        </tbody>
    </table>
</section>
<script src="/js/report_table.js"></script>