<aside class="sidebar">

    <section class="top-sidebar">
        <div class="logo-container">
            <div class="logo">
                <img src="/img/logo_hcmus.png" alt="hcmus logo" />
            </div>
            <div class="logo-title">
                <h1>HCMUS</h1>
                <h1>CANTEEN</h1>
            </div>

        </div>
        <button id="menu-btn">
            <i class="bx bx-menu"></i>
        </button>
    </section>
    <ul class="item-container">
        <li>
            <a href="/cashier/dashboard" class="nav-item {{#if isDashboard}} active {{/if}}">
                <i class="bx bx-home"></i>
                <p class="open">Dashboard</p>
            </a>
        </li>
        <li>
            <a href="/cashier/bill" class="nav-item {{#if isBill}} active {{/if}}">
                <i class="bx bxs-report"></i>
                <p class="open">Hóa đơn</p>
            </a>
        </li>
        <li>
            <a href="/cashier/catogories" class="nav-item">
                 <i class="bx bx-category "></i>
                <p class="open">Categories</p>
            </a>
        </li>
        <li>
            <a href="/menu" class="nav-item">
                 <i class="bx bx-dish "></i>
                <p class="open">Món ăn</p>
            </a>
        </li>
        <li>
            <a href="/cashier/report" class="nav-item {{#if isReport}} active {{/if}}">
                 <i class="bx bxs-report "></i>
                <p class="open">Báo cáo</p>
            </a>
        </li>
    </ul>
    <section class="user-container ">
        <a class="user" href="/cashier/profile">
            <img src="" alt="" class="avatar" />
            <p class="open">Nguyễn Thị Thu</p>
        </a>
        <form action="/logout" method="post">
            <button type="submit" class="logout-btn" style="cursor: pointer;">
                <i class='bx bx-log-out'></i>
                <p class="open">Đăng xuất</p>
            </button>
        </form>
    </section>

</aside>
<script src="/js/sidebar.js"></script>