<aside class="sidebar">
    <section class="top-sidebar">
        <div class="logo-container">
            <div class="logo">
                <img src="/img/logo_hcmus.png" alt="hcmus logo">
            </div>
            <div class="logo-title">
                <h1>HCMUS</h1>
                <h1>CANTEEN</h1>
            </div>

        </div>
        <button id="menu-btn">
            <i class='bx bx-menu' ></i>
        </button>
    </section>
    <ul class="item-container">
        <li>
            <a href="/home" class="nav-item">
                <i class='bx bx-home'></i>
                <p class="open">Trang chủ</p>
            </a>
        </li>
        <li>
            <a href="/bills" class="nav-item">
                <i class='bx bx-money-withdraw'></i>
                <p class="open">Hóa đơn</p>
            </a>
        </li>
    </ul>
    <section class="user-container">
        <div class="user">
            <img src="" alt="" class="avatar">
            <p class="open">Nguyễn Văn A</p>
        </div>
        <button class="logout-btn ">
            <i class='bx bx-log-out'></i>
            <p class="open">Đăng xuất</p>
        </button>
    </section>
</aside>
<script src="/js/sidebar.js"></script>