<div class="edit_detail_profile">

    <form action="">
        {{!-- <label for="fullname">Họ và tên</label>
        <input
            type="text"
            name="fullname"
            id="fullname"
            placeholder="{{ádsad}}"
        />
        <div>Giới Tính:</div>
        <div>
            <input type="radio" id="male" name="gender" value="Nam" />
            <label for="male">Nam</label>
        </div>
        <div>
            <input type="radio" id="female" name="gender" value="Nữ" />
            <label for="female">Nữ</label>
        </div> --}}
        <div class="btn-close" onclick="off()">
            <i class="bx bx-x"></i>
        </div>

    </form>
</div>