<div class="filter">
    <form action="#" class="filter_compo">
        <div class="filter_type">
            <label for="thoigian">Lọc theo:</label>
            <select name="thoigian" id="thoigian">
                <option value="Ngày">Ngày</option>
                <option value="Tháng">Tháng</option>
            </select>
        </div>
        <div class="start_date" id="sdateFilter">
            <label for="sdate">Từ ngày: </label>
            <input type="date" name="sdate" id="sdate">
        </div>

        <div class="end_date" id="edateFilter">
            <label for="edate">Đến ngày</label>
            <input type="date" name="edate" id="edate">
        </div>
        <div class="filter_my" id="myearFilter" hidden="true">
            <label for="myear">Tháng/Năm:</label>
            <input type="month" name="myear" id="myear">
        </div>
    </form>
</div>