<section>

    <div class="order-card">
        <div class="order">

            <div class="top-order">
                <div class="dat-mon">
                    Đặt món
                </div>
            </div>

            <div class="table-header">
                <div>
                    Món
                </div>

                <div>
                    Số lượng
                </div>
            </div>

            <div class="order-content" id="order-content">
            </div>

            <div class="tong-container">

                <div class="tong-text">
                    Tổng
                </div>

                <div class="tong-value" id="tong-value">

                </div>
            </div>

            <div class="thanhtoan-container">
                <div class="thanhtoan">
                    Chọn hình thức thanh toán
                </div>

                <div class="payment-options">
                    <div class="option">
                        <input type="radio" class="payment-btn" name="options" id="tienmat" autocomplete="off"
                            value="Tiền mặt" />
                        <label for="tienmat">Tiền mặt</label>
                    </div>

                    <div class="option">
                        <input type="radio" class="payment-btn" name="options" id="VNPay" autocomplete="off"
                            value="VNPay" />
                        <label for="VNPay">VNPay</label>
                    </div>

                    <div class="option">
                        <input type="radio" class="payment-btn" name="options" id="momo" autocomplete="off"
                            value="Momo" />
                        <label for="momo">Momo</label>
                    </div>

                </div>
            </div>

            <button class="order-btn" id="order-btn">
                Đặt món
            </button>
        </div>

        <div class="arrow-container">
            <i class="bx bx-right-arrow-alt arrow"></i>
        </div>
    </div>

</section>
<script src="/js/order.js"></script>