.dashboard-container {
    flex: 1;
    background-color: $light-bg-color;
    padding: 1.375rem 1rem;
    header {
        @include textStyle($base-color, 800, $base-font-family);
        font-size: 1.25rem;
    }
    .sub-header {
        @include textStyle($base-color, 600, $base-font-family);
    }

    section {
        background-color: $nav-bg;
        border-radius: 0.5rem;
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
    }

    .cashier-infor {
        position: relative;
        display: flex;
        padding: 1.438rem;
        margin-top: 0.938rem;
        display: flex;
        align-items: center;
        @include textStyle($normal-text-color, 400, $base-font-family);
        font-size: 1rem;

        i {
            font-size: 1rem;
            padding-right: 1rem;
        }

        .cashier-image {
            display: inline-block;
            width: 6.438rem;
            border-radius: 50%;
        }

        .col1,
        .col2 {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }
        .col1 {
            padding-left: 2rem;
        }
        .col2 {
            padding-left: 15rem;
        }

        .btn-edit {
            position: absolute;
            bottom: 1rem;
            right: 1rem;
            border: none;
            border-radius: 1rem;
            padding: 0.5rem 0.75rem;
            @include textStyle($base-color, 400, $base-font-family);
        }
    }

    .state-container {
        margin-top: 3rem;
        section {
            margin-top: 1rem;
        }
    }

    .newest-order {
        flex: 1;
    }

    .newest-order section {
        position: relative;
    }

    .btn-expand {
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 1.5rem;
        color: $unactive-nav-color;
        &:hover {
            transform: scale(1.05);
        }
    }

    .newest-order-table {
        position: relative;
        border-collapse: separate;
        text-align: left;
        width: 100%;
        padding: 3.375rem 1.063rem 1rem 1.063rem;
        th,
        td {
            border-bottom: 1px solid $border-table;
            padding: 0.375rem;
        }
        thead {
            @include textStyle($normal-text-color, 600, $base-font-family);
        }
        tbody {
            @include textStyle($normal-text-color, 300, $base-font-family);
            font-size: 0.813rem;
        }

        .btn-detail {
            @include textStyle($normal-text-color, 300, $base-font-family);
            font-size: 1.5rem;
        }

        tbody tr:hover {
            background-color: $light-bg-color !important;
            border-color: $light-bg-color !important;
        }
        td {
            &.paid {
                color: $green-active;
            }
            &.pending {
                color: $pending-color;
            }
            &.canceled {
                color: $danger-color;
            }
        }
        th,
        td {
            background-clip: padding-box;
        }
    }

    .newest-customer {
        flex: 1;
        margin-left: 2rem;
        display: flex;
        flex-direction: column;

        section {
            padding: 1.125rem 0.813rem 0 0.813rem;

            .client {
                padding: 0.5rem 1rem;
                display: flex;
                align-items: center;
                div {
                    margin-right: 1rem;
                }
                .no {
                    @include textStyle($base-color, 600, $base-font-family);
                }
                .img-client {
                    width: 4rem;
                    border-radius: 4.5rem;
                }

                ._name {
                    @include textStyle(
                        $normal-text-color,
                        400,
                        $base-font-family
                    );
                    margin-bottom: 1rem;
                }
                ._time {
                    @include textStyle(
                        $normal-text-color,
                        300,
                        $base-font-family
                    );
                    font-size: 0.75rem;
                }

                &:hover {
                    background-color: $light-bg-color;
                }
            }
        }
    }

    .state-container {
        display: flex;
        width: 100%;
        section {
            min-height: 24rem;
        }
    }

    [class*="btn-"] {
        cursor: pointer;

        &:hover {
            transform: scale(1.05);
        }
    }
}
