@import 'variables';

.filter {
    font-family: $base-font-family;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;

    .filter_compo{
        display: flex;
        width: 100%;
        justify-content: space-around
    }
        input,select {
            font-size: 1rem;
            width: auto;
            height: 1.75rem;
            border-radius: 0.25rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-align: center;
        }

        


}