@import 'variables';

.left {
  padding: 1rem;
  width:  60%;
  display: flex;
  flex-direction: column;
    .name-logo {
    &>h1 {
      display: inline-block;
    }
  }
  .school {
    text-transform: uppercase;
    font-size: 2rem;
    color: $heading-color;
    font-family: $base-font-family;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
  }
  .cteen {
    text-transform: uppercase;
    color: $sub-color;
    font-family: $second-font-family;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    img {
      margin: 0 auto;
      width: 75%;
    }
  }
}


.right {
  width: 40%;
  padding: 2rem 2.5rem;
  position: relative;

  .cre-account {
    display: flex;
    margin-bottom: 1rem;
    font-family: $base-font-family;
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    a {
      color: $sub-color;
    }
  }
}

.login-form {
  .title {
    position: relative;
    font-family: $base-font-family;
    font-size: 2rem;
    color: $base-color;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
  }
  .input-field {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 3rem;
    margin: 2rem 0;
    border-bottom: 2px $sub-color solid;
    &>input {
      width: 100%;
      height: 100%;
      padding: 0 0 0 2rem;
      background: transparent;
      border: none;
      outline: none;
      // border-bottom: 0.125rem solid $sub-color;
      // border-top: 0.125rem soild transparent;
      font-size: 1rem;
      
      // &::placeholder {
      //   padding: 0 3rem;
      // }
    }
    &:focus-within {
      border-bottom: 2px $base-color solid;
    }

    &>i {
      &.first-icon {
        position: absolute;
        left: 0;
      }
      font-size: 1.5rem;
      color: $unactive-nav-color ;
      &~input:focus,
      &~input:valid {
        border-bottom-color: $base-color;
      }
    }

    &>i.icon {
      left: 0;
    }

    &>i.show {
      right: 0;
    }

    &>i.hide {
      right: 0;
    }
  }

  .checkbox-text {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 0;

    .checkbox-content {
      display: flex;
      align-items: center;
      input {
        width: 1rem;
        margin: 0 8px -2px 4px;
        accent-color: $base-color;
      }
    }

    .text {
      color: $base-color;
      font-size: 1rem;
      font-family: $base-font-family;
    }

    a {
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &>button {
    width: 100%;
    border: none;
    color: $light-bg-color;
    height: 3rem;
    font-size: 1rem;
    font-weight: 500;
    font-family: $base-font-family;
    letter-spacing: 1px;
    border-radius: 1.5rem;
    background-color: $base-color;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 1rem 0;
    margin-bottom: 2rem;

    &>hover {
      background-color: $heading-color;
    }
  }

  .ruler {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    hr {
      position: absolute;
      left: 0;
      right: 0;
    }
    .section {
      font-size: 1rem;
      width: fit-content;
      font-family: $base-font-family;
      color: $unactive-nav-color;
      background-color: $nav-bg;
      padding: 0 10px;
      position: relative;
      z-index: 10;
    }
  }
}

.social-media {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;

  li {
    height: auto;
    display: list-item;
    text-align: center;
    form {
      button {
        display: flex;
        padding: 0.5rem 2rem;
        height: 3rem;
        width: 100%;
        margin-bottom: 1rem;
        border: 2px $base-color solid;
        border-radius: 1.5rem;
        background-color: transparent;
        cursor: pointer;
        img {
          width: 1.5rem;
        }
        .name {
          font-family: $base-font-family;
          flex: 1;
          margin: auto;
          font-size: 1rem;
        }
        &:hover {
          transform: scale(1.01);
        }
      }
    }
  }
}
