.order {
    width: 23.188rem;
    padding: 1rem;
    background-color: $nav-bg;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 0.5rem rgba($color: #000000, $alpha: 0.3);
    height: 100vh;
    opacity: 1;
    overflow: hidden;
    transition: all 350ms;
    &.toggle {
        width: 0;
        padding: 0;
    }
}

.top-order {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .dat-mon {
        @include textStyle($base-color-darker, 600, $base-font-family);
        font-size: 1.5rem;
    }
}

.table-header {
    display: flex;
    justify-content: space-between;
    padding: 0.625rem;
    margin-top: 1.438rem;
    border-style: solid;
    border-color: $sub-color;
    border-width: 0px 0px 1px 0px;
    div {
        @include textStyle($sub-color-dark, 500, $base-font-family);
        font-size: 1rem;
    }
}

.order-content {
    display: flex;
    flex-direction: column;
    align-self: center;
    flex-grow: 1;
    overflow: auto;
    margin-top: 0.5rem;

    &::-webkit-scrollbar {
        width: 0.5rem;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $order-bg-color;
        border-radius: 0.3125rem;
    }

    &:first-child {
        margin-top: 2rem;
    }
    .item {
        display: flex;
        flex-direction: column;
        padding: 0.688rem 0.563rem;
        box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
        border-radius: 0.5rem;
        border-bottom: 1.375rem;
        width: 20.188rem;
        margin: 0.6rem;
        input {
            text-align: center;
            border: none;
            outline: none;
            background-color: $order-bg-color;
            border-radius: 0.625rem;
            font-size: 0.875rem;
            @include textStyle($sub-color-dark, 300, $base-font-family);
            font-style: 0.875rem;
            color: $normal-text-color;
            *:focus {
                outline: none;
                border: none;
            }
        }

        .row-1 {
            display: flex;
            align-items: center;

            img {
                width: 3rem;
                margin-right: 0.5rem;
                border-radius: 0.625rem;
            }
            .name-price {
                font-size: 1rem;
                flex-grow: 1;
                .name {
                    @include textStyle(
                        $normal-text-color,
                        500,
                        $base-font-family
                    );
                }

                .price {
                    @include textStyle($base-color, 300, $base-font-family);
                }
            }

            .qty {
                width: 2.564rem !important;
                input {
                    width: 100%;
                }
            }
        }

        .row-2 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 0.25rem;
            .input-text {
                width: 16.188rem;
                input {
                    padding: 0rem 1.5rem;
                    width: 100%;
                    height: 2rem;
                }
            }

            i {
                font-size: 1.5rem;
                color: $unactive-nav-color;
                cursor: pointer;
            }
        }
    }
}

.tong-container {
    display: flex;
    justify-content: space-between;
    border-style: solid;
    border-color: $base-color;
    border-width: 1px 0px 0px 0px;
    padding: 1rem 0 0 0;
    width: 338px;

    .tong-text {
        @include textStyle($normal-text-color, 400, $base-font-family);
    }
    .tong-value {
        @include textStyle($base-color, 400, $base-font-family);
    }
}

.thanhtoan-container {
    display: flex;
    flex-direction: column;
    margin-top: 1.375rem;
    .thanhtoan {
        // margin: 0.75rem 0;
        @include textStyle($normal-text-color, 400, $base-font-family);
        margin-bottom: 0.5rem;
    }

    .payment-options {
        display: flex;
        justify-content: space-around;

        .option {
            cursor: pointer;
            input[type="radio"] {
                opacity: 0;
                position: fixed;
                width: 0;
                border: none;
                width: 5.813rem;

                &:hover {
                    background-color: $green-total-color;
                }

                &:checked + label {
                    background-color: $green-active;
                    color: #fff;
                }
            }

            label {
                display: inline-block;
                padding: 10px 20px;
                border-radius: 0.625rem;
            }

            background-color: $order-bg-color;
            border: none;
            border-radius: 0.625rem;
            @include textStyle($heading-color, 400, $base-font-family);

            &.choosen {
                background: $green-active;
                @include textStyle($nav-bg, 400, $base-font-family);
            }
            &:hover {
                background: $green-active;
                color: $nav-bg;
            }
        }
    }
}

.order-btn {
    cursor: pointer;
    height: 3.938rem;
    margin-top: 1.375rem;
    background-color: $order-button-color;
    border: none;
    border-radius: 0.625rem;
    padding: 1.188rem 0;
    font-size: 1.25rem;
    @include textStyle($nav-bg, 600, $base-font-family);
    &:hover:not(:disabled),
    &:focus:not(:disabled) {
        transform: scale(1.05);
    }

    &:active:not(:disabled) {
        transform: scale(0.95);
    }

    &:disabled {
        background-color: $yellow-total-color;
        cursor: not-allowed;
    }
}

.order-card {
    position: relative;
}
.arrow-container {
    position: absolute;
    top: 2rem;
    right: 1rem;
    z-index: 999;
    transform: translateY(-50%);
    .arrow {
        font-size: 1.5rem;
        transition: transform 0.5s ease;
        &.reverse {
            transform: rotate(180deg);
        }
    }
}
