.product-detail-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: $light-bg-color;
    padding: 1rem;
    gap: 1rem;
    overflow: auto;
    header {
        @include textStyle($base-color, 800, $base-font-family);
        font-size: 1.25rem;
    }
    .dashboard-sub-header {
        @include textStyle($base-color, 600, $base-font-family);
    }

    section {
        background-color: $nav-bg;
        border-radius: 0.5rem;
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
    }

    .card_food {
        position: relative;
        display: flex;
        padding: 1.5rem;
        @include textStyle($normal-text-color, 400, $base-font-family);
        font-size: 1rem;
        i {
            font-size: 1rem;
            padding-right: 1rem;
        }

        .product-cover-img {
            border-radius: 0.5rem;
            width: 30%;
            background-size: cover;
            background-position: center;
        }
        .btn-order {
            position: absolute;
            bottom: 1rem;
            right: 1rem;
            border-radius: 0.5rem;
            border: 1px solid $base-color;
            padding: 0.5rem 3rem;
            background-color: transparent;
            @include textStyle($base-color, 400, $base-font-family);
        }

        .food-detail {
            padding-left: 1rem;
            * {
                margin-top: 0.5rem;
            }

            .type {
                @include textStyle($sub-color, 400, $base-font-family);
                font-size: 1.25rem;
            }

            .name {
                @include textStyle($normal-text-color, 700, $base-font-family);
                font-size: 1.5rem;
            }

            .stock {
                @include textStyle($unactive-nav-color, 400, $base-font-family);
            }

            .star {
            }

            .price {
                margin-top: 1.563rem;
                @include textStyle($base-color, 500, $base-font-family);
                font-size: 1.5rem;
            }
        }
    }

    .comment-container {
        flex-grow: 1;
        display: flex;
        // width: 100%;
        background-color: $nav-bg;
        border-radius: 0.5rem;
        padding: 1rem;
        .overall {
            border-right: 1px solid $sub-color;
            padding: 0 1rem 0 0;
            padding-right: 1rem;
            .header {
                @include textStyle($normal-text-color, 600, $base-font-family);
                font-size: 1.25rem;
            }

            .star-container {
                padding: 1.563rem 0;
                text-align: center;
                .row1 {
                    @include textStyle($base-color, 400, $base-font-family);
                    font-size: 1.75rem;
                }
            }

            .sub-header {
                @include textStyle($unactive-nav-color, 400, $base-font-family);
            }

            .detail-star {
                .row {
                    display: grid;
                    grid-template-columns: 1;

                    .star-number {
                        @include textStyle(
                            $normal-text-color,
                            400,
                            $base-font-family
                        );
                    }
                }
                .bxs-star {
                    color: $star-rating-color;
                }
            }
        }

        .detail-container {
            padding: 0.25rem 0.25rem 0 1rem;
            flex: 1;
            height: 100%;
            overflow: auto;
            .card-comment {
                box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
                border-radius: 0.5rem;
                padding: 0.688rem 0.875rem;
                margin-bottom: 1rem;
                display: flex;
                .cover-container {
                    width: 2rem;
                    height: 2rem;
                    border-radius: 50%;
                    background-size: cover;
                    background-position: center;
                }
                // img.img-comment {
                //     width: 2rem;
                //     height: 2rem;
                //     border-radius: 50%;
                // }

                .detail {
                    margin-left: 0.375rem;
                    * {
                        margin-top: 0.188rem;
                    }
                    .name {
                        @include textStyle(
                            $normal-text-color,
                            500,
                            $base-font-family
                        );
                        font-size: 0.75rem;
                    }

                    .star-rated {
                        @include textStyle($base-color, 400, $base-font-family);
                        font-size: 0.75rem;
                    }

                    .time {
                        @include textStyle(
                            $unactive-nav-color,
                            300,
                            $base-font-family
                        );
                        font-size: 0.75rem;
                    }

                    .content {
                        margin-top: 0.5rem;
                    }
                }
            }
        }
    }
}
