@import 'variables';

.signup-form {
    .title {
        position: relative;
        font-family: $base-font-family;
        font-size: 2rem;
        color: $base-color;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: center;
        margin-top: 2rem;
    }


    .input_container{
        margin: 2rem 0;
        

  
    .input-field {
        position: relative;
        align-items: center;
        width: 100%;
        height: 3.25rem;
        display: flex;
        margin-bottom: 0.5rem;
        border-bottom: 2px $sub-color solid;
        position: relative;

        label.error{
            @include textStyle( $danger-color, 300, $base-font-family);
            font-size: 0.75rem;
            position: absolute;
            bottom: -1.5rem;
            left: 0;  
        }
        &>input {
            width: 100%;
            height: 100%;
            
            background: transparent;
            border: none;
            outline: none;
            // border-bottom: 0.125rem solid $sub-color;
            // border-top: 0.125rem soild transparent;
            font-size: 1rem;

            // &::placeholder {
            //   padding: 0 3rem;
            // }
        }

        &:focus-within {
            border-bottom: 2px $base-color solid;
        }

        &>i {
            &.first-icon {
                position: absolute;
                left: 0;
            }

            font-size: 1.5rem;
            color: $unactive-nav-color ;

            &~input:focus,
            &~input:valid {
                border-bottom-color: $base-color;
            }
        }

        &>i.icon {
            left: 0;
        }

        &>i.show {
            right: 0;
        }

        &>i.hide {
            right: 0;
        }
    }

    .birthday,
    .gender-checkbox {
        position: relative;
        font-family: $base-font-family ;
        font-size: 1rem;
        font-style: normal;
        color: $base-color;
        font-weight: 300;
        line-height: normal;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 1.5rem 0;
        font-size: 1rem;
        margin-bottom: 0.5rem;
        label.error{
            @include textStyle( $danger-color, 300, $base-font-family);
            font-size: 0.75rem;
            margin-top: 0.5rem;
            position: absolute;
            bottom: -1.5rem;
            
            left: 0;  
        }
        

        
    }
    .birthday{  
        label.error{
            bottom: -1rem;
        }
         input {
            margin-left: 2rem;
             border: 0.125rem solid $base-color;
             height: 2rem;
             border-radius: 0.5rem ;
             padding: 1rem;
             font-size: 1rem;;
             @include textStyle( $sub-color, 500, $base-font-family);
         }
       
     }

    }

    &>button {
        width: 100%;
        border: none;
        color: $light-bg-color;
        height: 3rem;
        font-size: 1rem;
        font-weight: 500;
        font-family: $base-font-family;
        letter-spacing: 1px;
        border-radius: 1.5rem;
        background-color: $base-color;
        cursor: pointer;
        transition: all 0.3s ease;
        margin: 1rem 0;
        margin-bottom: 2rem;

        &>hover {
            background-color: $heading-color;
        }
    }


}