//font family variables
$base-font-family: "Be Vietnam Pro", sans-serif;
$second-font-family: "Comfortaa", sans-serif;

// color variables
$base-color: #243c74;
$base-color-darker: #2b313c;
$sub-color: #7c8cac;
$sub-color-dark: #5d6981;
$heading-color: #1b2d57;
$light-bg-color: #f2f4f7;
$order-bg-color: #e9ecf1;
$nav-bg: #fff;
$normal-text-color: #000;
$unactive-nav-color: #808080;
$hover-nav-color: #666;
$star-rating-color: #ffe234;
$green-active: #00a67e;
$pending-color: #f29339;
$danger-color: #dc3545;
$green-total-color: #90ee90;
$yellow-total-color: #ffd580;
$order-button-color: #ff9a00;
$border-table:#f0f0f0;

// font-size for normal text is 1 rem (16px)
// heading is 1.5 rem (24px)
// All the length unit are rem
