//font family variables 
$base-font-family: 'Be Vietnam Pro', sans-serif;
$second-font-family: 'Comfortaa', sans-serif;

// color variables 
$base-color: #243C74;
$sub-color: #7C8CAC;
$sub-color-dark: #5D6981;
$heading-color: #1B2D57;
$light-bg-color: #F2F4F7;
$nav-bg: #FFF;
$normal-text-color: #000;
$unactive-nav-color: #808080;
$hover-nav-color: #666;
$star-rating-color: #FFE234;
$green-active: #00A67E;
$pending-color: #F29339;
$danger-color: #DC3545;
$green-total-color: #90EE90;
$yellow-total-color: #FFD580;
$order-button-color: #FF9A00;
$blue-total-color: #2086da;

// font-size for normal text is 1 rem (16px)
// heading is 1.5 rem (24px)
// All the length unit are rem