@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700;800;900&family=Comfortaa:wght@700&display=swap");
@import "mixins";
@import "variables";
@import "sidebar";
@import "order";
@import "HomeClient";
@import "_cashier_dashboard.scss";
* {
    box-sizing: border-box;
}

#app {
    height: 100vh;
    display: flex;
}
